
{% extends 'base.html' %}
{% block title %}Register – Comunication_LTD{% endblock %}
{% block content %}
<h1 class="h3 mb-3 fw-normal text-center">Create account</h1>
<form method="post">
  <input name="username" class="form-control mb-2" placeholder="Username" required>
  <input name="email"    class="form-control mb-2" placeholder="Email" required type="email">
  <input name="password" class="form-control mb-2" placeholder="Password" required type="password">
  <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
  <p class="mt-3 text-center"><a href="{{ url_for('login') }}">Have an account? Sign in</a></p>
</form>
{% endblock %}F
