
{% extends 'base.html' %}
{% block title %}Change Password – Comunication_LTD{% endblock %}
{% block content %}
<h1 class="h3 mb-3 fw-normal text-center">Change password</h1>
<form method="post">
  <input name="current" class="form-control mb-2" placeholder="Current password" required type="password">
  <input name="new" class="form-control mb-2" placeholder="New password" required type="password">
  <button class="btn btn-primary w-100 py-2" type="submit">Update</button>
</form>
{% endblock %}
