
{% extends 'base.html' %}
{% block title %}Reset Password – Comunication_LTD{% endblock %}
{% block content %}
<h1 class="h3 mb-3 fw-normal text-center">Reset password</h1>
<form method="post">
  <input name="username" class="form-control mb-2" placeholder="Username" required>
  <input name="code" class="form-control mb-2" placeholder="Reset code" required>
  <input name="new" class="form-control mb-2" placeholder="New password" required type="password">
  <button class="btn btn-primary w-100 py-2" type="submit">Reset</button>
</form>
{% endblock %}
